<div class="table-wrapper">
    @if (title) {
    <h5>{{ title }}</h5>
    }

    <table class="table table-bordered table-striped mt-2">
        <thead>
            <tr>
                @for (col of columns; track col) {
                <th>
                    {{ col.label }}

                    @switch (col.filterType) {
                    @case ('text') {
                    <input class="form-control mt-1" [placeholder]="'Filter by ' + col.label"
                        [(ngModel)]="filters()[col.key]" (ngModelChange)="setFilter(col.key, $event)" />
                    }
                    @case ('select') {
                    <select class="form-control mt-1" [(ngModel)]="filters()[col.key]" (ngModelChange)="setFilter(col.key, $event)">
                        <option value="">All</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    }
                    }
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (row of pagedRows(); track row) {
            <tr>
                @for (col of columns; track col) {
                <td>
                    @if (col.key === 'winner') {
                    {{ row[col.key] === true ? 'Yes' : row[col.key] === false ? 'No' : '' }}
                    } @else {
                    {{ row[col.key] }}
                    } </td>
                }
            </tr>
            }
        </tbody>
    </table>

    @if (pagination && totalPages() > 1) {
    <div class="d-flex justify-content-between align-items-center mt-3">
        <nav class="pagination-nav">
            <ul class="pagination mb-0">
                <li class="page-item" [class.disabled]="currentPage() === 1">
                    <button class="page-link" (click)="goToPage(currentPage() - 2)">«</button>
                </li>

                @for (i of getPageArray(); track i) {
                <li class="page-item" [class.active]="currentPage() === i">
                    <button class="page-link" (click)="goToPage(i - 1)">{{ i }}</button>
                </li>
                }

                <li class="page-item" [class.disabled]="currentPage() === totalPages()">
                    <button class="page-link" (click)="goToPage(currentPage())">»</button>
                </li>
            </ul>
        </nav>
    </div>
    }
</div>